.main-1 {
    width: 35%;
    background-color: hsl(195, 72%, 69%);
    display: inline;
    width: auto;
   
  }
.main-2 {
    background-color: hsl(243, 22%, 47%);
    padding: 15px;
    color: #ffffff;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.main-3{
    font-family: 'Rowdies', 'Sevillana';
    font-size: 100px;
    border: 10px double; 
    border-radius: 15px;
    text-align: center;
    color: rgb(30, 168, 122); 
    padding: 15px;
    margin: 25px;
    font-weight: 30px;
}
.main-4{
    font-family: 'Lilita One', cursive;
    text-align: center;
    color: #8261c0; 
    font-size: 50px;
}
*{
    box-sizing: border-box;
}
.display{
    display: inline;
    width: auto;
    border: 200px;
    border-radius: 20px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;
}
[class*="col-"] {
    float:left;
    padding: 15px;
    border: 1px solid #ffae00;
    margin: auto;
}

.footer{
    text-align: center;

}
#Estilo{
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
body{
    background-color: rgb(205, 230, 162);
}
.Imagen{
    width: 180px;
    height: 180px;
    display: flex;
    border: #33b5e5 solid;
    margin: 5px;
    padding: 5px;
 
   ;
}
.Imagen1{
    width: 100px;
    height: 100px;
}